<!DOCTYPE html>
<html lang="es">
    <!DOCTYPE html>
    <html lang="en">
    <%- include("./partials/head") %>
      
    <!-- Body Start-->
    <body>
    <!-- Header -->
    <%- include("./partials/header") %>
    <!-- Header End -->
    <div class="contenedor-profile">
        <div class="contenedor-profile2">
            <div class="profile-imagen">
                <img src="/images/users/<%= user.profileImage %>">
            </div>

            <div class="contenedor-profile3">
                <h1>Bienvenido <%= user.firstname+" "+user.lastname %></h1>
                <h2>Nombre:<%= user.firstname+" "+user.lastname %></h2>
                <h2>Correo-Electronico:<%= user.email %></h2>
                <h2>Telefono/Celular:<%=user.phone%></h2>
                <h2>Direccion:<%=user.adress%></h2>
                <h2><%=user.userCategory_id%></h2>

            </div>


        
            
                
                


        </div>






    </div>
    
        
    

        <!--footer-->
        <%- include("./partials/footer") %>
<!--footer end-->
    </body>
    
</html>