<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include("./partials/head") %>
  <!-- fin head -->          
  <style>.container {padding-right: 20px;padding-left: 20px;}</style>

  
<!--  Body -->
<body>
  <!--   header fin -->
  <%- include("./partials/header") %>
  <!--   Header fin  -->
<!-- Jumbotron -
<div class="banner">
  <div class="container">
    <div>
        <h1>Registrate</h1>
    </div>
  </div>
</div>
<!-- Jumbotron fin  -->

<!-- seccion Product -->


  <!--<style>.container {padding-right: 20px;padding-left: 20px;}</style>
  
  
    <!-- Body Start-->
    <body >
    
        
            
      <div class="login-password">
    
          <div class="login-contenedor">
              
    
              
              <h2 class='login-titulo'>M<span class="login-span">arketPet</span></h2>
    
              <h2 class='login-titulo2'>B<span class="login-span">ienvenido!!</span></h2>

              
              <form action="/register/user" method="POST" enctype="multipart/form-data">
    
                  <label for='firstName' class="label-perfil-contraseña" >Ingrese su Nombre:</label><br>
                  
                  <div class="icon"> 
                      <div class="perfil-login">
                          <i class="fa-solid fa-user"></i>
                      </div>    
                      
                      <input class="<%= locals.errors && errors.firstName ? 'invalido' : 'input-perfil-contraseña' %>" 
                      type="text" 
                      name="firstName" 
                      value="<%= locals.oldData ? oldData.firstName : null %>"
                      placeholder="Nombre"
                      >
                  </div>

                  <%if (locals.errors && errors.firstName){%>

                    <div class="alarm">
                      <%=errors.firstName.msg%>
                    </div>
                  <%}%>



                  <label for='apellido' class="label-perfil-contraseña" >Ingrese su Apellido:</label><br>

                  <div class="icon"> 
                      <div class="perfil-login">
                          <i class="fa-solid fa-user"></i>
                      </div>    
                  
                      <input 
                      class="<%= locals.errors && errors.lastName ? 'invalido' : 'input-perfil-contraseña' %>"
                      type="text" 
                      for="lastName" 
                      name="lastName" 
                      id="lastName" 
                      value="<%= locals.oldData ? oldData.lastName : null %>"
                      placeholder="Apellido"
                      >
                  </div>

                  <%if (locals.errors && errors.lastName){%>

                    <div class="alarm">
                      <%=errors.lastName.msg%>
                    </div>
                  <%}%>
                  
    
                  <label for='email' class="label-perfil-contraseña" >Ingrese su E-mail:</label><br>
                  
                  <div class="icon"> 
                      <div class="perfil-login">
                          <i class="fa-solid fa-user"></i>
                      </div>    
                  
                      <input 
                      class="<%= locals.errors && errors.email ? 'invalido' : 'input-perfil-contraseña' %>"
                      type="text" 
                      for="email" 
                      name="email" 
                      value="<%= locals.oldData ? oldData.email : null %>"
                      placeholder="E-mail">
                  </div>
                  
                  <%if (locals.errors && errors.email){%>

                    <div class="alarm">
                      <%=errors.email.msg%>
                    </div>
                  <%}%>
    
    
                  <label for='password' class="label-perfil-contraseña" >Ingrese su Contraseña:</label><br>
                  
                  
                  <div class="icon"> 
                      <div class= llave>
                          <i class="fa-solid fa-key "></i>
                      </div>    
                  
                      <input 
                      class="<%= locals.errors && errors.password ? 'invalido' : 'input-perfil-contraseña' %>"
                      type="password" 
                      name="password" 
                      id="password" 
                      value="<%= locals.oldData ? oldData.password : null %>"
                      placeholder="Contraseña">
                  </div>

                  <%if (locals.errors && errors.firstName){%>

                    <div class="alarm">
                      <%=errors.password.msg%>
                    </div>
                  <%}%>

                

                  <label for="imagen"> Ingrese una imagen</label>
                  <input type="file" name="avatar" id="image" >
          
                  <input type="submit" class="btn-ingresar" value="Registrarme">
    
              </form>
    
              
                  <div class="registrate-login"><a href="/login"><i class="fa-solid fa-user"></i>¿Ya tienes cuenta? Vamos al login</a></div> 
              
                  <div class="home-login"><a href="/"><i class="fa-solid fa-house-chimney"></i>Volver al Home</a></div>
                  
    
              
    
    
          </div>
    
      </div>
    
    
    
    <script src="https://kit.fontawesome.com/b1ee9d91d2.js" crossorigin="anonymous"></script>
    
    
    
    
    
    
    

   
</section>
<!-- termina seccion contacto -->
   
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- js -->
    <script src="/js/animate.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>

    </body>
  <!-- termina Body  -->
</html>
